a {
    text-decoration: none;
    color: white;
}

.welcome_section {
    margin: 2rem;
}

#first_section {
    background-image: url(images/social_area01.jpg);
    background-size: cover;
    background-position: 49% 10%;
    max-width: none;
    width: 100vw;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    column-gap: 1rem;
    text-align: center;
}

#first_section .section_wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 2rem;
}

#first_section .section_wrapper_2 {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    padding: 2rem;
}
#section_wrapper_img {
    opacity: 50%;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding: 1rem;
}

.button1 {
    padding: 1rem;
    background-color: #27292a;
    border-radius: 0.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.button2 {
    padding: 1rem;
    background-color: #27292a;
    border-radius: 0.3rem;
    margin-top: 0;
    margin-bottom: 0;
}


/*------forms design--------*/

.forms_formular {
    max-width: 50vw;
    margin: 1rem auto;
    border: 0.2rem solid #27292a;
    padding: 1rem;
    background-color: #27292a;
    color: white;
    border-radius: 0.3rem;

}

label {
    display: block;
    font-weight: 300;
    padding-top: 1rem;
}

input {
    border: 0.1rem solid white;
    border-radius: 0.3rem;
    width: 30vw;
    font-size: 1.1rem;
}

.send_button {
    background: #eadede;
    color: #27292a;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    float: right;
    border-radius: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;

}

.send_button:hover {
    background: #eadede;
    transition-duration: 0.2s;

}

.index_fill {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}


@media only screen and (min-width: 800px) {
    #first_section .section_wrapper {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
        padding: 1rem;
    }

    #first_section .section_wrapper_2 {
        grid-column: 3 / 3;
        grid-row: 3 / 3;
        padding: 1rem;
    }

    #first_section {
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1rem;
        text-align: center;
    }

    .button1 {
        margin: 2rem
    }

    .button2 {
        margin: 2rem
    }

    #section_wrapper_img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: 1rem;
        opacity: 50%;
        width: 20vw;
    }

    /*--------Velkommen, design--------------------*/
    .welcome_section .section_wrapper1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
    }

}
