/*---MOBILE FIRST---*/
#practical_info{
    text-align: center;
}

#review{
    text-align: center;
}

#img_michael {
    height: 20rem;
    width: auto;
}

#img_annette {
    height: 20rem;
    width: auto;
}


