li {
    list-style: none;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.opening_hours {
    list-style: none;
    text-align: center;
}

.phone_hours {
    list-style: none;
    text-align: center;
}

.staff_img {
    width: 10rem;
    ;
}

.bus {
    width: 10rem;
}

.store {
    width: 10rem;
}


.section {
    padding: 2rem;
    text-align: center;
}

#first_section_wrapper {
    background: #e0e0e0;
}

#last_section_wrapper {
    background: #e0e0e0;
}

@media only screen and (min-width: 1200px) {

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    #last_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }

    #last_section .section_wrapper .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }

}
