li {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

h3 {
    letter-spacing: 0.3rem;
    text-decoration: underline;
}

p {
    text-align: center;
}


.section {
    padding: 2rem;
    text-align: center;
}

#first_section_wrapper .col {
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    background-color: #27292a;
    padding: 2rem;
    margin: 1rem;
    color: white;
}

#last_section_wrapper .col {
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
}

img {
    text-align: center;
}

.staff_img {
    width: 50%;
}


@media only screen and (min-width: 800px) {

    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr;
        grid-column-gap: 20px;
    }

    #last_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr 0.01fr 1fr;
        column-gap: 10px;
    }

    #last_section .section_wrapper .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        background-color:
    }

    #first_section .col {
        margin: 1rem;
    }

    .fineline {
        background-color: #27292a;
        padding: 0.1rem;

    }

    #fineline {
        background-color: #27292a;
        padding: 0.1rem;
    }

}
