
* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}
p{
    font-family: 'Open Sans', sans-serif;
}

/*Global styles*/
body {
    background: #ececec;
}

/*Header*/



/*Main content*/
main {

    margin: 0 auto;
}

section {
    text-align: center;

    left: 10vw;
}


.infobox {
 display: block;

text-align: center;
    padding: 2rem;
}

.image-container img:active {
  transition:transform 0.25s ease;
  width: 1000vw;
  height: auto;
}

.apartment2{
    padding: 2rem;
}

  .fineline { color: black;
    border: 0.5px solid;
    margin-bottom: 10px;
}

    #fineline {
         color: black;
    border: 1.5px solid;
    margin-bottom: 10px;
}


.image-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 20px;
    background: #fff;
}

@media (max-width: 550px) {
    .image-container {
        overflow-x: scroll;
        scroll-snap-type: mandatory;
    }

    .image-container figure {
        flex-basis: 90%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .image-container img {
        margin-right: 20px;
    }
}
