
* {
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}
p{
    font-family: 'Open Sans', sans-serif;
}

/*Global styles*/
body {
    background: rgb(239, 234, 223);
}

/*Header*/



/*Main content*/
main {
background: rgb(239, 234, 223);
    margin: 0 auto;
}

section {
    text-align: center;

/*    left: 10vw;*/
    margin: 3rem;
}


.infobox {
 display: block;

text-align: center;
    padding: 2rem;
}

.image-container img:active {
  transition:transform 0.25s ease;
  width: 1000vw;
  height: auto;
}

.apartment2{
    padding: 2rem;
}


  .fineline {
color: white;
    border: 0.07rem solid;
    margin-bottom: 10px;
}

    #fineline {
         color: white;
    border: 0.07rem solid;
    margin-bottom: 10px;
}
*/

.col_1{
    width: 50rem;
    padding: 5rem;
}


.image-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 20px;
    background: #fff;
}

/*Line grid til plantegninger*/

#appartment_image_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
column-gap: 1rem;
}
#appartment_image_1 .col_1{
    text-align: left;
}
#appartment_image_1 img{
/*   height: 50%;*/
    width: 80%;
}
#appartment_image_2{
        display: grid;
    grid-template-columns: 1fr 1fr;
column-gap: 1rem;
}
#appartment_image_2 .col_1{
    text-align: left;
}
#appartment_image_2 img{
/*   height: 50%;*/
    width: 80%;
}

@media (max-width: 550px) {

    p {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }


    main{
       width: 100vw;
    }

    section {
        margin: 0;

    }

    body {
        width: 100vw;
    }

    #appartment_image_1 {
        width: 97vw;
    }
    #appartment_image_1 .col_1 {
        margin: 2rem;
        width: 15rem;
    }

     #appartment_image_1 .img {
        justify-items: end;
    }

    #appartment_image_1 .col {
        justify-content: center;
    }

     #appartment_image_2 .col_1 {
        margin: 2rem;
         width: 15rem;
    }
    .image-container {
        overflow-x: scroll;
<<<<<<< HEAD
=======

>>>>>>> tingbjerg_kollegiet_redesign/master
    }

    .image-container figure {
        flex-basis: 90%;
        flex-shrink: 0;

    }

    .image-container img {
        margin-right: 20px;
    }
}
